html{
  height: 100%;
  width: 100%;
}

body{
  height: 98%;
  width: 98%;
  background-color: blue;
  user-select: none;
}

#root{
  height: 100%;
}

.SideBar{
  position: absolute;
  left: 6.5%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 85%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 13%;
  max-width: 13%;
  background-color: rgb(205, 205, 205);
  font-family: arial, sans-serif;
  user-select: none;
}

.SideBarText{
  position: absolute;
  left: 0%;
  top: 7%;
  width: 100%;
}

.SideBarOption{
  list-style: none;
  font-size: 140%;
  color: black;
  font-family: arial,sans-serif;
  margin-bottom: 0px;
  width: inherit;
  height: 56px;
  width: 100%;
  text-align:left;
  line-height: 250%;
}

.SideBarOption:hover{
  background-color: hsl(0, 0%, 70%);
}

.SideBar h1{
  position: absolute;
  left: 50%;
  top: -1%;
  transform: translate(-50%,-0%);
  font-size: 100%;
  width: 200px;
  text-align: center;
}

.SideBar a{
  display: block;
  width: 100%;
  text-decoration: none;
}
.MainLittleBoutMe{
  height: 100%;
  width: 87%;
  position: absolute;
  top: 50%;
  left: 56.5%;
  transform: translate(-50%,-50%);
  font-family: arial, sans-serif;
}

.header{
  position: absolute;
  left: 40%;
  top: 15%;
  transform: translate(-50%,-50%);
  width: 200px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}

.header:hover{
  cursor: pointer;
}

.header h1{
  font-weight: 400;
}

.Me{
  position: absolute;
  left: 20%;
  top: 40%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 200px;
  background-color: rgb(255, 178, 36);  
  border-radius: 30px;
  transition: 1s;
}

.Me p{
  font-size: 1.2rem;
  text-align: center;
  user-select: none;
}

.Me p:hover{
  cursor:default;
}

.favoriteGames{
  position: absolute;
  left: 60%;
  top: 40%;
  transform: translate(-50%,-50%);
  background-color: rgb(255, 37, 37);  
  width: 350px;
  height: 200px;
  text-align: center;
  border-radius: 30px;
  transition: 1s;
}

.favoriteGames p{
  font-size: 1.2rem;
  user-select: none;
}

.favoriteGames p:hover{
  cursor:default;
}

.hobbys{
  position: absolute;
  left: 40%;
  top: 70%;
  transform: translate(-50%,-50%);
  background-color: rgb(0, 255, 0); 
  width: 350px;
  height: 200px;
  text-align: center;
  border-radius: 30px;
  transition: 1s;
}

.hobbys p{
  font-size: 1.2rem;
  user-select: none;
}

.hobbys p:hover{
  cursor:default;
}

@media screen and (max-width: 320px) {
  /* Styles for devices like iPhone 5/SE */
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  /* Styles for devices like iPhone 6/7/8 */
}

@media screen and (min-width: 376px) and (max-width: 414px) {
  /* Styles for devices like iPhone 6/7/8 Plus, Pixel 2 XL */
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  /* Styles for tablets in landscape mode and smaller laptops */

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for larger tablets and small laptops */

}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* Styles for larger laptops and desktops */

}

@media screen and (min-width: 1920px) {
  /* Styles for large desktops and beyond */
  body {
    zoom: 150%;
  }
}